#naplanbtn {
  background-image: url("Buttons/naplan-white.png");
  height:64px;
  width:154px;
  float: left;
  display:inline;
}

#naplanbtn:hover {
  background-image: url("Buttons/naplan-grey.png");
}

#gradesbtn {
  background-image: url("Buttons/previousgrades-white.png");
  height:64px;
  width:154px;
  float: left;
  display:inline;
}

#gradesbtn:hover {
  background-image: url("Buttons/previousgrades-grey.png");
}

#abesbtn{
  background-image: url("Buttons/abes-white.png");
  height:64px;
  width:154px;
  float: left;
  display:inline;
}

#abesbtn:hover {
  background-image: url("Buttons/abes-grey.png");
}

#riskbtn{
  background-image: url("Buttons/riskmatrix-white.png");
  height:64px;
  width:154px;
  float: left;
  display:inline;
}

#riskbtn:hover {
  background-image: url("Buttons/riskmatrix-grey.png");
}

#tablebtn{
  background-image: url("Buttons/student-table-white.png");
  height:64px;
  width:154px;
  float: left;
  display:inline;
}

#tablebtn:hover {
  background-image: url("Buttons/student-table-grey.png");
}
/* Div that holds the buttons alongside each other */
#datashow {
  position:absolute;
  margin-left:40px;
  margin-top: 80px;
}
